body{
    margin: 0;
    padding: 0;  
    width: 100%;
    height: 100%;
    
}
.content {
    background-image: url("../Image/bg.jpg");
        width: 360px;
        height: 640px;
        margin: auto;
}

.nav_box{
    height: 70px;
    position: relative;
    text-align: center;
}

.nav_box button{
    margin-top: 20px;
        margin-left: 70%;
        width: 70px;
        height: 30px;
}

/*main 페이지 집 아이콘 */
.home_box {
    margin-top: 18%;
    height: 50%;
}

.home_box img {
    margin: 10px;
    width: 100px;
    height: 100px;
}

/*친구추가 버튼*/
.plus_box {
    height: 13%;
    text-align: center;
}
.plus_box img {
    margin-top: 10px;
    width: 50px;
    height: 50px;
}
/*MBTI 검사 버튼*/
.MBTI_Test {
    height: 20%;
    text-align: center;
}
.MBTI_Test button {
    margin-top: 16%;
    width: 100px;
    height: 35px;
    border: 1px solid black;
    border-radius: 10px;
    background-color: rgb(166, 166, 166);
}