

    body{
        margin: 0;
        padding: 0;  
        width: 100%;
        height: 100%;
        
    }
    .content {
        background-image: url("../Image/house.jpg");
        width: 360px;
        height: 640px;
        margin: auto;
    }
     /*상단바*/
     .nav_box{
        height: 70px;
        position: relative;
        text-align: center;
    }

    #home_icon{
        margin-top: 10px;
        width: 60px;
        height: 60px;
        position: absolute;
        left: 20px
    }
    #link_btn {
        margin-top: 20px;
        margin-left: 70%;
        width: 70px;
        height: 30px;
    }
    /*글 쓰러 가기 등 박스*/
    .btn_box{
        width: 100%;
        margin-top: 45%;
        text-align: center;
    }
    .btn_box button {
        margin: 10px;
        width: 300px;
        height: 50px;
        font-size: 20px;
        border-radius: 10px;
        background-color: #cfcfcf;
    }
    .small_btn {
        text-align: center;
        margin-top: 40%;
    }
    .small_btn button{
        width: 100px;
        height: 35px;
        border-radius: 10px;
    background-color: rgb(166, 166, 166);
    } 
    