

    body{
        margin: 0;
        padding: 0;  
        width: 100%;
        height: 100%;
        
    }
    .content {
        background-image: url("../Image/house.jpg");
        width: 360px;
        height: 640px;
        margin: auto;
    }
    /*상단바*/
    .link_box {
        display: flex;
        flex-direction: row;
        text-align: center;
    }
    #link_btn {
        margin-left: 70%;
        width: 70px;
        height: 30px;
    }
    #house_icon{
        width: 60px;
        height: 60px;
        font-size: 30px;
    }
    /*글 쓰러 가기 등 박스*/
    .btn_box{
        width: 100%;
        margin-top: 45%;
        text-align: center;
    }
    .btn_box button {
        margin: 10px;
        width: 300px;
        height: 50px;
        font-size: 20px;
        border-radius: 10px;
        background-color: #cfcfcf;
    }
    .small_btn {
        text-align: center;
        margin-top: 45%;
    }
    .small_btn button{
        width: 100px;
        height: 35px;
        border-radius: 10px;
        background-color: #cfcfcf;
    } 
    