    body{
        margin: 0;
        padding: 0;  
        width: 100%;
        height: 100%;
    }
    .content {
        background-image: url("../Image/house.jpg");
        width: 360px;
        height: 640px;
        margin: auto;
    }
    /*상단바*/
    .nav_box{
        height: 70px;
        position: relative;
        text-align: center;
    }

    #home_icon{
        margin-top: 10px;
        width: 60px;
        height: 60px;
        position: absolute;
        left: 20px
    }
    /* 메모 아이콘 박스 */
    .memo_box {
        height: 50%;
        margin-top: 20%;
    }
    .memo_box img {
        margin: 10px;
        width: 100px;
        height: 100px;
    }

    /* open박스  */
    .box_open {
        text-align: center;
    }
    .box_open img {
        width: 130px;
        height: 100px;
        margin-bottom: 0;
    }

    /* MBTI 확인 버튼  */
    .MBTI_chk {
        margin-top: 3%;
        text-align: center;
    }
    .MBTI_chk button{
        margin-top: 3%;
        width: 100px;
        height: 35px;
        border: 1px solid black;
        border-radius: 10px;
        background-color: rgb(166, 166, 166);
    }


