    body{
        margin: 0;
        padding: 0;  
        box-sizing: border-box;
        width: 100%;
        height: 100%;
    }
    .content {
        background-image: url("../Image/house.jpg");
        width: 350px;
        height: 640px;
        margin: auto;
    }

   /*상단바*/
   .link_box {
        display: flex;
        flex-direction: row;
        text-align: center;
    }

    #house_icon{
        margin-top: 10px;
        width: 60px;
        height: 60px;
        font-size: 30px;
    }

    form{
        margin-top: 32%;
        display: block;
        text-align: center;
    }

    /* 글쓰는  form */
    #txtName{
        width: 340px;
        height: 30px;
    }
    #txtContent {
        margin-top: 3px;
        width: 340px;
        height: 250px;
    }

    #txtSumit{
        width: 100%;
        height: 40px;
        border-radius: 10px;
        font-size: 20px;
    }
    .MBTI_chk{
        text-align: center;
        margin: 10px;
    }
    /* MBTI 버튼 CSS */
    .MBTI_chk {
        margin-top: 20%;
        text-align: center;
    }
    .MBTI_chk button{
        width: 100px;
        height: 35px;
        border: 1px solid black;
        border-radius: 10px;
        background-color: rgb(166, 166, 166);
    }

